<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Mini App{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'book_app_style.css' %}">


</head>
<body>
<header>
    <h1>
        <a href="{% url 'home' %}">📖Books Collection</a>
    </h1>
    <nav>
        <div>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'books' %}">Books</a>
        </div>
    </nav>
</header>

<main>
    {% block content %} {% endblock %}

</main>
<footer>
    <p>&copy; 2026 Book Collection App - Book Page</p>
</footer>

</body>
</html>
