{% extends "base.html" %}

{% block title %}Books{% endblock %}

{% block content %}
<section class="books-grid">
    <h2>
        {% if single_book %}
        Book Details
        {% else %}
        My Books Collection
        {% endif %}
    </h2>

    <!-- Check if there are books to display -->
    <div class="book-container">
        <!-- Loop through all books and display each one -->
        {% for book in books %}
        <div class="book-card">

            <h3>📖 {{ book.title }}</h3>
            <p class="author">👤 {{ book.author }}</p>
            <p class="published">📅 Published at: {{ book.published_at }}</p>
            <p class="description">📝 {{ book.description }}</p>
            <p class="price">💲 {{ book.price }}</p>
            <p class="stock">📦 {{ book.stock }} available</p>
            <p class="category">🏷️ {{ book.category }}</p>

        </div>
        {% endfor %}
    </div>

</section>
{% endblock %}

